name: Node CI

on:
  push:
    branches:
      - '**'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        lib-name:
          - timeline-state-resolver
          - timeline-state-resolver-types
          - timeline-state-resolver-api
          - quick-tsr

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
      - name: Prepare Environment
        run: |
          corepack enable
          yarn config set cacheFolder /home/runner/lint-${{ matrix.lib-name }}-cache
          yarn install
          yarn build
        env:
          CI: true
      - name: Run typecheck and linter
        run: |
          cd packages/${{ matrix.lib-name }}
          yarn lint
        env:
          CI: true

  docs:
    name: Check docs generation
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
      - name: Prepare Environment
        run: |
          corepack enable
          yarn config set cacheFolder /home/runner/docs-cache
          yarn install
          yarn build
        env:
          CI: true
      - name: Generate docs
        run: |
          yarn docs
        env:
          CI: true

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x]
        lib-name:
          - timeline-state-resolver
          - timeline-state-resolver-types
          # - timeline-state-resolver-api

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Prepare Environment
        run: |
          corepack enable
          yarn config set cacheFolder /home/runner/test-${{ matrix.lib-name }}-${{ matrix.node-version }}-cache
          yarn install
          yarn build
        env:
          CI: true
      - name: Run tests
        run: |
          cd packages/${{ matrix.lib-name }}
          yarn unitci
        env:
          CI: true
      - name: Send coverage
        if: matrix.node-version == '16.x'
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      # - name: Check docs generation
      #   if: matrix.node-version == '16.x'
      #   run: |
      #     yarn docs:test
      #   env:
      #     CI: true

  validate-dependencies:
    name: Validate production dependencies
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        lib-name:
          - timeline-state-resolver
          - timeline-state-resolver-types
          - timeline-state-resolver-api

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
      - name: Prepare Environment
        run: |
          corepack enable
          yarn config set cacheFolder /home/runner/validate-deps-${{ matrix.lib-name }}-cache
          yarn install
        env:
          CI: true
      - name: Validate production dependencies
        run: |
          if ! git log --format=oneline -n 1 | grep -q "\[ignore-audit\]"; then
            cd packages/${{ matrix.lib-name }}
            yarn validate:dependencies
          else
            echo "Skipping audit"
          fi
        env:
          CI: true

  validate-all-dependencies:
    name: Validate all dependencies
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        lib-name:
          - timeline-state-resolver
          - timeline-state-resolver-types
          - timeline-state-resolver-api

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
      - name: Prepare Environment
        run: |
          corepack enable
          yarn config set cacheFolder /home/runner/validate-all-deps-${{ matrix.lib-name }}-cache
          yarn install
        env:
          CI: true
      - name: Validate production dependencies
        run: |
          cd packages/${{ matrix.lib-name }}
          yarn validate:dependencies
        env:
          CI: true
      - name: Validate dev dependencies
        run: |
          cd packages/${{ matrix.lib-name }}
          yarn validate:dev-dependencies
        env:
          CI: true
